- link = pagy_link_proc(pagy, 'class="btn btn-primary pagination-button"')
%nav.pagy_nav.pagination{"aria-label" => "pager", :role => "navigation"}
  - if pagy.last != pagy.page
    %a!= link.call(pagy.next, 'Load more', 'aria-label="next"')
