%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = sort_details(params[:sort])[:display_text]
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  -SortHelper::BOOKS_SORT.entries.each do |sort_key, details|
    %li
      = link_to t(".#{sort_key}"), books_path(sort: sort_key,  category: params[:category]), class: 'filter-link'