%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = sort_details(params[:sort])[:display_text]
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu{id: 'sorting'}
  -SortHelper::BOOKS_SORT.keys.each do |key|
    %li
      = link_to t(".#{key}"), books_path(sort: key,  category: params[:category]), class: 'filter-link'